- if @items.empty?
  No news is good news.
- else
  %ul
    - @items.each do |item|
      %li
        %h2
          = link_to item.title, item.url
          %span{:title => score_percentages(item.scores)} (?)

        %p= item.content.truncate(300)
